* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

@media screen and (max-width: 425px) {

    body {
        display: flex;
        flex-direction: column;
    }

    .alert-info {
        display: flex;
        justify-content: center;
        background-color: lightskyblue;
        border: solid 2px lightgray;
        margin: 8px;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        padding: 12px;
        font-size: 13px ;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 44px;
        margin-bottom: 18px;

    }

    nav{
        width:calc( 100% - 3px);
        /*margin: .5em;*/
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

    }

    .nav-links > li {
        list-style: none;
        display: flex;
        justify-items: center;
        padding: 6px;
        margin-left: 8px;
        box-sizing: border-box;

    }

    .nav-links > li > a {
        background-color: lightgray;
        text-decoration: none;
        padding: 10px;
        width: calc( 100% - 24px);
        display: flex;
        justify-content: center;

    }

    .header-img > img {
        height: 224px;
        width: calc( 100% - 24px);
        display: flex;
        justify-content: center;
        padding: 12px;
    }

    .main > h2 {
        /*display: flex;*/
        padding-left: 12px;
        padding-bottom: 12px;
        width: calc( 100% - 24px);
        margin: 0;
    }

    .main > p {
        /*display: flex;*/
        padding-left: 12px;
        width: calc( 100% - 24px);
        margin-bottom: 36px;
    }

    .sub-section > h2 {
        padding-left: 12px;
        padding-bottom: 12px;
        width: calc( 100% - 24px);
        margin: 0;
        font-style: italic;
    }

    .sub-section > p {
        display: flex;
        padding-left: 12px;
        width: calc( 100% - 24px);
        margin-bottom: 99px;
        font-style: italic;
    }

    footer {
        display: flex;
        margin-top: auto;
        padding: 12px;
    }

}

@media screen and (min-width:768px) { /*Desktop view*/

.hidden-on-desktop{
    display: none;
}
nav{
    /*float: left;*/
    display: flex;
    justify-content: flex-end;
}
.nav-links {
    display: flex;
    padding: 8px;
    margin-top: auto;
/*justify-content: flex-end;*/
}

.nav-links li {
    display: flex;
    /*justify-items: flex-end;*/
    list-style: none;
}

.nav-links li a{
    /*display: flex;*/
    /*justify-content: space-around;*/
    padding: 10px;
}

h1{
    float: left;
    display: inline-block;
    padding: 8px;
    font-size: 55px;
}
.header-img > img {
    height: 385px;
    width: calc( 100% - 24px);
    display: flex;
    justify-content: center;
    padding: 12px;
}
section{
    display: flex;
}
.main .sub-section{
    display: flex;
}

.main {
    flex-grow: 1;
}

.sub-section {
    flex-grow: 2;
}

}