* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 320px) {


    .alert-info {
        display: flex;
        justify-content: center;
        background-color: aqua;
        border: solid 1px grey;
        margin: .5em;
    }

    .alert-info > a {
        text-decoration: none;
        color: black;
        padding: 12px;
        font-family: Arial;
        font-size: 13px ;
    }

    h1 {
        display: flex;
        justify-content: center;
        font-size: 44px;
        font-family: Arial;
        margin: 5px;

    }

    nav{
        width:calc( 100% - 16px);
        /*margin: .5em;*/
    }
    .nav-links{
        display: flex;
        flex-direction: column;
        width: 100%;
        box-sizing: border-box;

    }

    .nav-links > li {
        list-style: none;
        display: flex;
        justify-items: center;
        padding: .2em;

    }

    .nav-links > li > a {
        background-color: grey;
        text-decoration: none;
        padding: 12px;
        width: calc( 100% - 24px);
        display: flex;
        justify-content: center;

    }

    .header-img > img {
       /*background-image: url("https://via.placeholder.com/339x224?");*/
       /*max-width: 339px;*/
        height: 224px;
        width: calc( 100% - 24px);
        display: flex;
        justify-content: center;
        padding: 12px;
    }
}